.Verdana-9{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:8pt;text-align:center;}
.Titre-Champs{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:9pt;font-weight:bold;text-align:left;}
.Titre-Colonne{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:9pt;background-color:#CCCCCC;}
.Ligne-paire{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:9pt;background-color:#FFFFE8;}
.Bandeau{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:9pt;color:#FFFFFF;background-color:#0000FF;}
.Ligne-impaire{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:9pt;}
.h-0{height:0px;}
TABLE{border-collapse:collapse;border-spacing:0}TD{padding:0}TR{vertical-align:top}
